{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username() }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password() }}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
{% endblock %}
